/****** btn design start ******/
.org_btn {
  color: #fff;
  background-image: linear-gradient(30deg, #f37044 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  padding: 13px 34px;
  border-radius: 10px;
  font-weight: 500;
  box-shadow: 3px 4px 19px #ff57228a;
  border: 1px solid var(--orange);
  &:hover {
    border: 1px solid var(--orange);
    color: var(--dark);
    background-position: 100%;
    background-color: transparent;
    span {
      svg {
        path {
          fill: var(--dark);
        }
      }
    }
  }
  span {
    display: inline-block;
    margin-left: 5px;
    svg {
      margin-top: -3px;
      transition: var(--transition);
    }
  }
}

.white_btn {
  color: var(--dark);
  background-image: linear-gradient(30deg, white 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  transition: background 300ms ease-in-out;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  padding: 13px 34px;
  border-radius: 15px;
  font-weight: 500;
  border: 1px solid white;
  &:hover {
    border: 1px solid var(--orange);
    color: var(--white);
    background-position: 100%;
    background-color: transparent;
    span {
      svg {
        path {
          fill: var(--white);
        }
      }
    }
  }
  span {
    display: inline-block;
    margin-left: 5px;
    svg {
      margin-top: -3px;
      transition: var(--transition);
    }
  }
}

/****** btn design end ******/

/****** btn design ******/
.default-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  background-color: var(--orange);
  color: var(--white);
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
  border-radius: 6px;
  transition: 0.5s;
  i {
    display: inline-block;
    margin-left: 5px;
    transform: rotate(45deg);
  }
  span {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    background-color: var(--dark);
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 1;
  }
  &:hover {
    color: var(--white);
    span {
      width: 225%;
      height: 562.5px;
    }
    i {
      animation: 0.4s toTopFromBottom1 forwards;
    }
  }
}

.default-btn1 {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  background-color: var(--orange);
  color: var(--white);
  transition: 0.3s;
  opacity: 1;
  font-weight: 700;
  border-radius: 6px;
  transition: 0.5s;
  i {
    display: inline-block;
    margin-left: 5px;
    transform: rotate(45deg);
  }
  span {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    background-color: var(--white);
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 1;
  }
  &:hover {
    color: var(--dark);
    span {
      width: 225%;
      height: 562.5px;
    }
    i {
      animation: 0.4s toTopFromBottom1 forwards;
    }
  }
}
