/*****  footer part *****/
.get_slider {
  border-color: #323232 !important;
  b {
    color: white;
    font-size: 52px;
  }
  .slick-slide {
    b {
      text-align: center;
    }
    &:nth-child(even) {
      b {
        -webkit-text-stroke: 1px white;
        color: transparent;
      }
    }
  }
}
/*****  scroll to top *****/
.scroll-top-btn {
  width: 45px;
  height: 50px;
  background-color: var(--muddy);
  color: var(--dark);
  border-radius: 4px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  font-size: 15px;
  font-weight: 500;
  transition: var(--transition);
  &:hover {
    transform: translateY(-5px);
    i {
      animation: 0.4s toTopFromBottom forwards;
    }
  }
}
