/************  Header start  ***********/
.logo {
  a {
    display: block;
    padding: 24px 0;
  }
}
.main_menu {
  ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    li {
      &:hover > {
        ul {
          visibility: visible;
          opacity: 1;
          top: 100%;
        }
        a {
          color: var(--orange);
        }
      }
      &.active > {
        a {
          color: var(--orange);
        }
      }
      a {
        color: var(--dark);
        display: inline-block;
        padding: 37px 0;
        transition: var(--transition);
        font-size: 18px;
        font-weight: 500;
        text-transform: capitalize;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        text-transform: uppercase;
        i {
          display: inline-block;
          margin-top: 3px;
          font-size: 13px;
        }
      }
      ul {
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
        top: 110%;
        left: 0;
        width: 230px;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        z-index: 2;
        li {
          width: 100%;
          &:hover {
            a {
              padding-left: 5px;
            }
          }
          a {
            padding: 0;
            padding-bottom: 7px;
            transition: var(--transition);
          }
          & + li {
            a {
              padding-top: 5px;
            }
          }
        }
      }
    }
  }
}

.header_contact {
  margin-top: 20px;
}

.mobile_menu_bar {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* for sticky header */
.fixed_menu {
  background: var(--dark);
  animation: sticky 1s;
  transition: 0.2s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 77;
}

@-webkit-keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}

@keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0px;
  }
}

/* for sticky header */
