/******** Font Size  ********/
.f-90 {
  font-size: 90px;
  @media (max-width: 1199px) {
    font-size: 70px;
  }
  @media (max-width: 768px) {
    font-size: 50px;
  }
}

.f-62 {
  font-size: 62px;
  @media (max-width: 1199px) {
    font-size: 50px;
  }
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 52px;
  @media (max-width: 1199px) {
    font-size: 35px;
  }
  @media (max-width: 768px) {
    font-size: 25px;
  }
}

h3 {
  font-size: 36px;
  @media (max-width: 1199px) {
    font-size: 28px;
  }
  @media (max-width: 768px) {
    font-size: 22px;
  }
}

h4 {
  font-size: 30px;
  @media (max-width: 1399px) {
    font-size: 25px;
  }
  @media (max-width: 1199px) {
    font-size: 23px;
  }
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

h5 {
  font-size: 24px;
  @media (max-width: 1199px) {
    font-size: 20px;
  }
}
h6 {
  font-size: 20px;
  @media (max-width: 1199px) {
    font-size: 17px;
  }
}

p {
  font-size: 18px;
  color: var(--text);
}

.f-16 {
  font-size: 16px;
}

/******** Font Weight ********/
.fl {
  font-weight: 300;
}
.fr {
  font-weight: 400;
}
.fm {
  font-weight: 500;
}
.fsb {
  font-weight: 600;
}
.fb {
  font-weight: 700;
}
.feb {
  font-weight: 800;
}

/******** Color ********/
.dark {
  color: var(--dark);
}
.dark_bg {
  background: var(--dark);
}

.orange {
  color: var(--orange);
}
.orange_bg {
  background: var(--orange);
}

.white {
  color: white;
}
.white_bg {
  background: white;
}

.offwhite_bg {
  background: var(--offwhite);
}

.text {
  color: var(--text);
}

.color_bg {
  overflow: hidden;
  background: url("../images/banner/bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

/******** custom class ********/
.b {
  border: 1px solid #f3f3f3;
}

.bb {
  border-bottom: 1px solid #f3f3f3;
}

.bt {
  border-top: 1px solid #f3f3f3;
}

.bl {
  border-left: 1px solid #f3f3f3;
}
.br {
  border-right: 1px solid #f3f3f3;
}

.italic {
  font-style: italic;
}

.justify {
  text-align: justify;
}

.slider-spacing {
  .slick-list {
    margin: 0 -12px;
    .slick-slide {
      margin: 0 12px;
    }
  }
}

.img {
  overflow: hidden;
  &:hover {
    img {
      transform: scale(1);
    }
  }
  img {
    transform: scale(1.1);
    transition: var(--transition);
  }
}

.center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.tran {
  transition: var(--transition);
}

.inherit {
  position: inherit;
}

.common_heading {
  p {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    i {
      font-size: 10px;
      display: inline-block;
    }
  }
}
