@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap");

:root {
  /*************/
  --kanit: "Kanit", sans-serif;
  --orange: #f27044;
  --dark: #100e10;
  --white: white;
  --transition: 0.3s all linear;
  --text: #535353;
  --light_text: #bdbdbd;
  --gray: #eaeaea;
  --offwhite: #fbecd7;

  /*************/

  --light_dark: #151515;
  --muddy: #f38704;
  --get: #080808;
}
