.blog_button {
  button {
    color: var(--dark);
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
    transition: var(--transition);
    & + button {
      padding: 0px 30px;
      position: relative;
      @include screen-768 {
        padding: 10px;
      }
      @include screen-575 {
        padding: 3px 7px;
      }
      &::before {
        content: "/";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: var(--dark);
        @include screen-768 {
          display: none;
        }
      }
    }
    &:hover {
      color: var(--orange);
    }
    &.active {
      color: var(--orange);
    }
  }
}

.blog_pagi {
  li {
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--offwhite);
    color: var(--dark);
    font-size: 22px;
    font-weight: 500;
    transition: var(--transition);
    border: 1px solid white;
    @include screen-1199 {
      width: 50px;
      height: 50px;
      font-size: 20px;
    }
    &:hover {
      background: var(--orange);
      color: var(--white);
    }
    &.active {
      color: var(--white);
      background: var(--orange);
    }
  }
}

.blog_src {
  form {
    input {
      padding: 18px 33px;
      @include screen-1199 {
        padding: 15px 30px;
      }
    }
    button {
      right: 28px;
      color: #a1a1a1;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
    }
  }
}

/********* blog standard page **********/
.bsblog_left {
  ul.p {
    li {
      & + li {
        margin-top: 30px;
      }
      .default-btn1 {
        padding: 15px 35px;
        background-color: var(--dark);
        color: var(--white);
        span {
          background-color: var(--orange);
        }
        &:hover {
          color: var(--white);
        }
      }
      h4 {
        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}

.bsr_post {
  form {
    display: flex;
    align-items: center;
    input {
      width: 100%;
      padding: 18px;
      border: none;
      background: #f9f9f9;
      border: 1px solid var(--light_text);
      border-right: 0;
      border-radius: 10px 0 0 10px;
    }
    button {
      transition: var(--transition);
      width: 65px;
      height: 62px;
      border-radius: 0px 10px 10px 0;
      background: var(--orange);
      border: none;
      &:hover {
        background: var(--dark);
      }
      i {
        color: var(--white);
      }
    }
  }
  ul.c {
    li {
      & + li {
        padding-top: 25px;
      }
      &:hover {
        a {
          align-items: center;
          h6 {
            color: var(--orange);
          }
          span {
            background: var(--orange);
          }
        }
      }
      a {
        span {
          width: 23px;
          height: 23px;
          background: var(--muddy);
          color: white;
        }
      }
    }
  }
  ul.rp {
    li {
      &:hover {
        .rp_content {
          h6 {
            color: var(--orange);
          }
        }
      }
      & + li {
        margin-top: 25px;
      }
    }
  }
  ul.t {
    li {
      display: inline-block;
      border: 1px solid var(--light_text);
      border-radius: 5px;
      padding: 5px 15px;
      margin-bottom: 15px;
      margin-left: 12px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background-color: var(--orange);
        border: 1px solid transparent;
        color: white;
      }
    }
  }
}

/********* blog details page **********/
.quote {
  h6 {
    span {
      width: 34px;
      height: 3px;
      margin-right: 10px;
    }
  }
}

.bs_list {
  li {
    p {
      img {
        display: inline-block;
        margin-right: 7px;
      }
    }
    & + li {
      margin-top: 20px;
    }
  }
}

.post {
  h6 {
    font-size: 20px;
  }
  ul {
    li {
      display: inline-block;
      background: white;
      color: var(--text);
      border-radius: 5px;
      padding: 8px 25px;
      font-weight: 500;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}

.share {
  h6 {
    font-size: 20px;
  }
  ul {
    li {
      &:hover {
        a {
          color: var(--orange);
        }
      }
      a {
        color: var(--dark);
        transition: var(--transition);
      }
    }
  }
}

.b_contact {
  padding: 30px;
  form {
    input {
      padding: 15px 35px;
      background: transparent;
      border: 1px solid var(--light_text) !important;
    }
    textarea {
      background: transparent;
      border: 1px solid var(--light_text) !important;
    }
    button {
      width: 226px;
    }
  }
}
