/***** banner part ******/
.header_title {
  padding-bottom: 440px;
}
.banner_mail {
  position: absolute;
  right: 89%;
  transform: rotate(-90deg);
  top: 50%;
  z-index: 55;
  &:hover {
    color: var(--orange);
  }
  @include screen-1199 {
    right: 87%;
  }
  @include screen-992 {
    right: 85%;
  }
  @include screen-768 {
    display: none;
  }
}
.banner_social {
  ul {
    position: absolute;
    left: 94%;
    top: 30%;
    z-index: 55;
    @include screen-1199 {
      left: 92%;
      top: 36%;
    }
    @include screen-768 {
      left: 88%;
    }
    @include screen-460 {
      left: 85%;
    }
    li {
      & + li {
        margin-top: 10px;
      }
      &:hover {
        a {
          color: var(--white);
          &::before {
            transform: scale(1);
            visibility: visible;
            opacity: 1;
          }
        }
      }
      a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid var(--dark);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--dark);
        transition: var(--transition);
        position: relative;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: var(--dark);
          border-radius: 50%;
          z-index: -1;
          transform: scale(0.5);
          transition: var(--transition);
          visibility: hidden;
          opacity: 0;
        }
        @include screen-460 {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

.banner {
  margin-top: -400px;
  .banner_img {
    position: relative;
    z-index: 4;
    @include screen-1199 {
      margin-bottom: 25px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 86%;
      border: 2px dotted white;
      background: #ffffff21;
      bottom: 0;
      z-index: -1;
      border-radius: 50%;
      animation: spin 9s infinite linear;
      left: 1px;
    }
  }
}

/***** scrolling part ******/
.ur-ticker-area {
  width: 102%;
  position: absolute;
  top: 53%;
  z-index: 2;
  transform: rotate(5deg);
  left: -20px;
  @include screen-1199 {
    position: inherit;
    transform: rotate(0deg);
    left: 0;
  }
  .ur-ticker-wrapper {
    box-sizing: content-box;
    width: 100%;
    padding-left: 100%;
    .ur-ticker {
      display: inline-block;
      white-space: nowrap;
      padding: 20px 0;
      animation: 30s ticker linear infinite;
      box-sizing: content-box;
      padding-right: 100%;
      &:hover {
        animation-play-state: paused;
      }
      span {
        font-size: 30px;
        color: var(--white);
        font-weight: 500;
        position: relative;
        display: inline-block;
        transition: var(--transition);
        @include screen-992 {
          font-size: 18px;
        }
        &:hover {
          transform: translateY(-6px);
        }
        &:nth-child(even) {
          margin-left: 15px;
        }
        &:nth-child(odd) {
          margin-left: 30px;
        }
      }
    }
  }
}

.ur-ticker-area2 {
  z-index: 3;
  transform: rotate(-5deg);
  @include screen-1199 {
    transform: rotate(0deg);
  }
  .ur-ticker-wrapper {
    .ur-ticker {
      animation: 30s ticker2 linear infinite reverse;
    }
  }
}

/***** about part ******/
.about_single {
  border-color: var(--dark) !important;
  transition: var(--transition);
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 45px;
    border-radius: 10px 0 0 10px;
    background: var(--dark);
  }
  &:hover {
    background: var(--dark);
    p {
      color: var(--white);
    }
    h6 {
      color: var(--white);
    }
  }
}

/***** service part ******/
.service_item {
  padding: 40px;
  &:hover {
    h2 {
      color: var(--orange);
    }
  }
  h2 {
    line-height: 0.9;
  }
  ul {
    li {
      color: var(--text);
      padding: 13px 0;
      i {
        font-size: 12px;
        display: inline-block;
        margin-right: 5px;
      }
      & + li {
        border-top: 1px solid var(--gray);
      }
    }
  }
}

/***** skill part ******/
.skill_left {
  padding-left: 300px;
  @media (max-width: 1737px) {
    padding-left: 250px;
  }
  @media (max-width: 1650px) {
    padding-left: 190px;
  }
  @media (max-width: 1549px) {
    padding-left: 110px;
  }
  @media (max-width: 1411px) {
    padding-left: 80px;
  }
  @media (max-width: 1359px) {
    padding-left: 70px;
  }
  @media (max-width: 665px) {
    padding: 0 20px !important;
  }
  @media (max-width: 634px) {
    padding: 0 10px !important;
  }
}

.visit_contact {
  @media (max-width: 613px) {
    flex-wrap: wrap;
  }
  .vc {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    &.white_bg {
      margin-left: -20px;
    }
  }
}

.skill_count {
  left: 0;
  bottom: 0;
  background: url("../images/banner/bg2.png") no-repeat;
  background-size: cover;
  background-position: center;
  width: fit-content;
  @include screen-1199 {
    left: 50%;
    transform: translateX(-50%);
  }
  @media (max-width: 699px) {
    left: inherit;
    transform: inherit;
  }
  .line {
    width: 2px;
    height: 40px;
    background: var(--light_text);
    display: inline-block;
    @include screen-1260 {
      display: none;
    }
  }
}

.progressBar {
  ul {
    li:nth-child(even) {
      margin-bottom: 5em;
    }
  }
}

progress[value] {
  width: 100%;
  height: 2px;
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  color: royalblue;
  position: relative;
  margin: 0 0 1.5em;
  &::-webkit-progress-value {
    background: var(--dark);
  }
}
progress[value]::-webkit-progress-bar {
  background-color: var(--light_text);
}

.progress-bar {
  background-color: whiteSmoke;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  width: 100%;
  height: 20px;
  span {
    background-color: royalblue;
    border-radius: 3px;
    display: block;
    text-indent: -9999px;
  }
}

h4[data-value] {
  position: relative;
}

h4[data-value]:after {
  content: attr(data-value) "%";
  position: absolute;
  right: 0;
}

/***** expertise part ******/
.exed {
  ul {
    li {
      div.rounded-3 {
        background: url("../images/banner/bg3.png") no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
  }
}

/***** portfolio part ******/
.vmp_btn {
  padding: 15px 25px;
  text-transform: capitalize;
  background-size: 550px;
}
.portfolio_button {
  width: 700px;
  border-radius: 10px;
  margin: auto;
  max-width: 100%;
  padding: 10px;
  text-align: center;
  button {
    color: var(--dark);
    font-size: 16px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 7px;
    transition: var(--transition);
    & + button {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 85%;
        background: #e7e7e7;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @include screen-768 {
          display: none;
        }
      }
    }
    &:hover {
      color: var(--white);
      background: var(--orange);
    }
    &.active {
      color: var(--white);
      background: var(--orange);
    }
  }
}

.portfolio_item {
  background: var(--dark);
  height: 565px;
  position: relative;
  @include screen-1199 {
    height: 500px;
  }
  @include screen-992 {
    height: 450px;
  }
  @include screen-400 {
    height: 400px;
  }
  @media (max-width: 350px) {
    height: 350px;
  }
  @media (max-width: 300px) {
    height: 300px;
  }
  &:hover {
    .imgs {
      height: 83%;
    }
  }
  .imgs {
    position: relative;
    z-index: 2;
    height: 100%;
    transition: 0.3s all linear;
    img {
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }
  .por_content {
    position: absolute;
    bottom: 6%;
    left: 6%;
    max-width: 88%;
    @include screen-1199 {
      bottom: 6%;
      left: 6%;
    }
    @include screen-768 {
      bottom: 3%;
      left: 3%;
    }
    &:hover {
      h4 {
        color: var(--orange);
      }
      span {
        i {
          color: var(--orange);
          animation: 0.4s toTopFromBottom1 forwards;
        }
      }
    }
    h4 {
      padding: 14px 25px;
      @include screen-1199 {
        padding: 12px;
        margin-right: 7px !important;
      }
      @media (min-width: 768px) and (max-width: 992px) {
        font-size: 16px;
      }
      @media (min-width: 200px) and (max-width: 400px) {
        font-size: 15px;
      }
    }
    span {
      width: 69px;
      height: 69px;
      border-radius: 50%;
      font-size: 30px;
      transition: var(--transition);
      overflow: hidden;
      @include screen-1199 {
        width: 50px;
        height: 50px;
        font-size: 20px;
      }
      i {
        transform: rotate(45deg);
      }
    }
  }
}

/***** Testimonial part ******/
.testi_wrap {
  .slick-list {
    .slick-track {
      padding-bottom: 80px;
      @include screen-1199 {
        padding-bottom: 50px;
      }
      .slick-slide {
        .testi_item {
          border: 1.5px solid white;
          .testi_img_content {
            @include screen-460 {
              flex-wrap: wrap;
            }
            .testi_start {
              span {
                color: var(--orange);
              }
            }
          }
        }
      }
    }
  }
  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 0px;
    display: flex;
    gap: 12px;
    transform: translateX(-50%);
    li {
      text-align: center;
      display: block;
      &.slick-active {
        span {
          outline: 1px solid var(--muddy);
          &::before {
            background: var(--orange);
          }
        }
      }
      span {
        border-radius: 50%;
        width: 25px;
        height: 25px;
        outline: 1px solid var(--dark);
        display: block;
        position: relative;
        &::before {
          content: "";
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: var(--dark);
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
        }
      }
    }
  }
}

/***** brand part ******/
.brand_slider {
  .slick-track {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    .slick-slide {
      border: 1px solid white;
      border-radius: 15px;
      height: 95px;
      line-height: 122px;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      img {
        margin: auto;
      }
    }
  }
}

.ur-brand-single {
  text-align: center;
  &:hover img {
    animation: 0.4s toTopFromBottom forwards;
  }
}

@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    transform: translateY(100%);
  }

  51% {
    opacity: 1;
  }
}

/***** work process part ******/
.process_step {
  span {
    width: 85px;
    height: 2px;
    background: var(--dark);
    margin-bottom: 6px;
  }
}

/***** What we do part ******/
.we_do {
  background: url("../images/banner/bg1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  .hand {
    bottom: 0;
    left: 0;
  }
}
.hire_downlaod {
  .white.fsb {
    &:hover {
      color: var(--orange);
    }
    span {
      width: 42px;
      height: 57px;
      border-radius: 6px;
      background: var(--orange);
      display: inline-block;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
      margin-right: 21px;
      font-weight: 600;
      font-size: 20px;
      i {
        animation: 1s hire infinite;
      }
    }
  }
  .white_btn {
    padding: 15px 35px;
    background-size: 560px;
  }
}

@keyframes hire {
  0% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0px);
  }
}
.bdm {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: end;
  a {
    width: 245px;
    height: 60px;
    border-radius: 10px;
    background: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    color: var(--dark);
    font-weight: 600;
    img {
      transition: var(--transition);
    }
    &:hover img {
      padding-left: 10px;
    }
    &.behance {
      animation: move 6s infinite linear;
    }
    &.dribble {
      animation: move1 6s infinite linear;
    }
    &.message {
      animation: move 6s infinite linear;
    }
  }
}
@keyframes move {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(-20px);
  }

  55% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes move1 {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(10px);
  }

  55% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
  }
}

.wedo_right {
  .what {
    left: 39%;
    bottom: -1px;
    transform: translateX(-50%);
    width: 540px;
  }
}

/***** blog part ******/
.blog_single {
  border: 1.5px solid white;
  &:hover {
    h5 {
      span {
        background-size: 100% 100%;
      }
    }
  }
  p.mb-4 {
    border: 1px solid var(--dark);
    border-radius: 25px;
    display: inline-block;
    padding: 4px 20px;
  }
  h5 {
    span {
      width: calc(100%);
      background-image: linear-gradient(
        transparent calc(100% - 2px),
        black 2px
      );
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size 1s;
    }
  }
}

.blog_img {
  &:hover {
    span {
      visibility: visible;
      opacity: 1;
      width: 60px;
      height: 60px;
    }
  }
  span {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    font-size: 20px;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 1px solid white;
    &:hover {
      i {
        animation: 0.4s toTopFromBottom1 forwards;
      }
    }
    i {
      transform: rotate(45deg);
    }
  }
}

.blog_slider {
  .slick-list {
    .slick-track {
      padding-bottom: 60px;
    }
  }
  .prev-arrow,
  .next-arrow {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    z-index: 10;
    height: 60px;
    width: 60px;
    background: var(--orange);
    border-radius: 50%;
    transition: var(--transition);
    color: var(--white);
    border: 1px solid var(--white);
    font-size: 24px;
    &:hover {
      background: var(--dark);
    }
  }
}

.blog_slider {
  .prev-arrow {
    right: 50.5%;
    @include screen-1199 {
      right: 51%;
    }
  }
  .next-arrow {
    left: 50.5%;
    @include screen-1199 {
      left: 51%;
    }
  }
}
