.pd_social {
  li {
    a {
      &::before {
        background: var(--orange);
      }
      &:hover {
        color: white;
      }
    }
  }
}

.pagi {
  li {
    p {
      cursor: pointer;
      transition: var(--transition);
      &:hover {
        color: var(--orange);
      }
    }
  }
}
