/****** portfolio details page *****/
.port_del {
  img {
    border-radius: 15px 15px 0 0;
  }
  .pro_details {
    border-radius: 0 0 15px 15px;
    justify-content: space-between;
    @include screen-992 {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include screen-768 {
      justify-content: start;
    }
    .pro_item {
      padding: 30px 50px;
      @include screen-1400 {
        padding: 30px;
      }
      @include screen-1199 {
        padding: 15px;
      }
      @include screen-992 {
        border: 1px solid #d9d9d9;
      }
      @include screen-768 {
        border: 0;
      }
      ul {
        li {
          &:hover {
            a {
              color: var(--orange);
            }
          }
          a {
            color: var(--dark);
            transition: var(--transition);
          }
        }
      }
    }
  }
}

.about_project {
  ul {
    li {
      display: flex;
      align-items: center;
      gap: 10px;
      i {
        color: var(--orange);
        font-size: 9px;
      }
    }
  }
}

/****** portfolio slider *****/
.slider-container {
  @include screen-1199 {
    position: relative;
    padding-bottom: 50px;
  }
  @include screen-575 {
    padding-bottom: 20px;
  }
}
.slides {
  position: inherit;
  .single_slide {
    position: relative;
    height: 600px;
    margin-bottom: 20px;
    @include screen-1400 {
      height: 550px;
    }
    @include screen-1199 {
      height: 500px;
    }
    @include screen-992 {
      height: 400px;
    }
    @include screen-575 {
      height: 300px;
    }
    @include screen-400 {
      height: 250px;
    }
    &:hover {
      .single_content {
        visibility: visible;
        opacity: 1;
        width: 100%;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
    .single_content {
      visibility: hidden;
      opacity: 0;
      transition: var(--transition);
      position: absolute;
      bottom: 0;
      width: 80%;
      padding: 40px 50px;
      .content {
        h2 {
          span {
            -webkit-text-stroke: 1px white;
            color: transparent;
          }
        }
      }
      span.center {
        overflow: hidden;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: var(--white);
        color: var(--dark);
        &:hover {
          background: var(--dark);
          color: var(--white);
          i {
            animation: 0.4s toTopFromBottom1 forwards;
          }
        }
        i {
          font-size: 30px;
          transform: rotate(45deg);
        }
      }
    }
  }
}

.timer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 30px;
  color: var(--white);
  top: 14%;
  border-bottom: 1px solid;
  padding-left: 60px;
  @include screen-575 {
    padding-left: 0;
    top: 10%;
  }
}

.dots-container {
  position: absolute;
  top: 6%;
  right: 70px;
  @media (max-width: 1550px) {
    right: 5px;
  }
  @include screen-1199 {
    top: inherit;
    bottom: -65px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    gap: 10px;
  }
  @include screen-575 {
    bottom: -50px;
  }
  li {
    .dot {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: inline-block;
      cursor: pointer;
      border: 1px solid white;
      margin: 4px 0;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--white);
      }
      @include screen-575 {
        width: 40px;
        height: 40px;
      }
    }
    &.slick-active {
      .dot {
        border-color: var(--orange);
        &::before {
          background: var(--orange);
        }
      }
    }
  }
}
