.record_slider {
  b {
    font-size: 52px;
  }
  .slick-slide {
    b {
      visibility: hidden;
      @media (max-width: 1240px) {
        visibility: visible;
      }
      @media (max-width: 1000px) {
        visibility: hidden;
      }
    }
    &.slick-active {
      b {
        visibility: visible;
      }
      &.slick-center {
        b {
          color: var(--dark);
          -webkit-text-stroke: 0;
        }
      }
    }
    b {
      -webkit-text-stroke: 1px var(--dark);
      color: transparent;
      text-align: center;
      font-weight: 600;
      font-size: 52px;
      @media (max-width: 1785px) {
        font-size: 45px;
      }
      @media (max-width: 1562px) {
        font-size: 40px;
      }
      @media (max-width: 1400px) {
        font-size: 35px;
      }
      @media (max-width: 1000px) {
        font-size: 50px;
      }
      @media (max-width: 720px) {
        font-size: 40px;
      }
      @media (max-width: 420px) {
        font-size: 30px;
      }
    }
  }
}

/******* service details *******/
.sd_right {
  border: 1px solid white;
  .ser_cata {
    li {
      border: 1px solid white;
      &:hover {
        box-shadow: none !important;
        border-color: transparent;
        a {
          h6 {
            background: var(--orange);
            color: var(--white);
            span {
              svg {
                path {
                  fill: white;
                }
              }
            }
          }
        }
      }
      & + li {
        margin-top: 22px;
        @include screen-460 {
          margin-top: 15px;
        }
      }
    }
  }
  .sd_c {
    li {
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 20px 0;
      img {
      }
      p {
      }
      a {
        color: var(--text);
        transition: var(--transition);
        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}

.pagi {
  @include screen-400 {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center !important;
  }
  li {
    cursor: pointer;
    transition: var(--transition);
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 10px;

    &:nth-child(1) {
      span {
        transform: rotate(180deg);
        svg {
          margin-bottom: 2px;
        }
      }
    }
    span {
      svg {
        margin-top: -2px;
      }
    }
    &:hover {
      color: var(--orange);
      span {
        svg {
          path {
            fill: var(--orange);
          }
        }
      }
    }
  }
}
.pop_video {
  a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: var(--transition);
    animation: blood3 2.2s infinite;
    background: var(--white);
    &:hover {
      color: var(--white);
      background: var(--dark);
    }
    @include screen-460 {
      width: 50px;
      height: 50px;
      img {
        width: 12px;
      }
    }
  }
}

@keyframes blood3 {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  50% {
    box-shadow: 0 0 0 20px rgba(1, 93, 199, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(1, 93, 199, 0);
  }
}
