.record_slider {
  b {
    font-size: 52px;
  }
  .slick-slide {
    b {
      visibility: hidden;
      @media (max-width: 1240px) {
        visibility: visible;
      }
      @media (max-width: 1000px) {
        visibility: hidden;
      }
    }
    &.slick-active {
      b {
        visibility: visible;
      }
      &.slick-center {
        b {
          color: var(--dark);
          -webkit-text-stroke: 0;
        }
      }
    }
    b {
      -webkit-text-stroke: 1px var(--dark);
      color: transparent;
      text-align: center;
      font-weight: 600;
      font-size: 52px;
      @media (max-width: 1785px) {
        font-size: 45px;
      }
      @media (max-width: 1562px) {
        font-size: 40px;
      }
      @media (max-width: 1400px) {
        font-size: 35px;
      }
      @media (max-width: 1000px) {
        font-size: 50px;
      }
      @media (max-width: 720px) {
        font-size: 40px;
      }
      @media (max-width: 420px) {
        font-size: 30px;
      }
    }
  }
}
